# Cache objects
packer_cache/

# Crash log
crash.log

# For built boxes
*.box
# ignore images
*.img
packer-builder-arm

# ignore node modules
node_modules/
package-lock.json
package.json

# ignore editor cruft
.vscode/
