name: test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  validate:
    strategy:
      fail-fast: false
      matrix:
        template:
          - ubuntu-server
          - consul
          - vault
    name: Validate
    runs-on: ubuntu-latest
    env:
      VAULT_ADDR: http://localhost:8200
      VAULT_TOKEN: token
      MISE_ENV: github-actions
      PACKER_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup mise
        uses: jdx/mise-action@v3
        with:
          install: true
          experimental: true
      - name: Activate mise
        run: echo 'eval "$(mise activate bash)"' >> ~/.bashrc
      - name: Check Mise
        run: mise doctor
      - name: Install dependencies
        run: mise tasks run install
      - name: Run ansible-lint
        run: mise exec -- ansible-lint ${{ matrix.template }}
      - name: Start Vault Server
        run: |
          mise exec -- vault server -dev -dev-root-token-id=${VAULT_TOKEN} | tee vault-output.txt &
      - name: Enable Secrets mounts
        run: |
          vault secrets enable -path="digitalocean" -description="KV data" kv-v2 ; \
          vault secrets enable -path="kv" kv-v2
      - name: Populate the DO secret
        run: vault kv put -mount="digitalocean" tokens packer=${{ secrets.DO_TOKEN }}
      - name: Populate vault autojoin token
        run: vault kv patch -mount="digitalocean" tokens vault_auto_join=${{ secrets.DO_TOKEN }}
      - name: Populate the GH secret
        run: vault kv put -mount="kv" github ghcr_token=${{ secrets.GITHUB_TOKEN }}
      - name: Populate Consul Encryption Key
        run: vault kv put -mount="digitalocean" consul consul_gossip_key=${{ secrets.CONSUL_ENCRYPT_KEY }}
      - name: Add Ansible collections
        run: ansible-galaxy collection install community.hashi_vault
      - name: Add Ansible roles
        run: |
          cd ${{ matrix.template }}
          if [[ -f requirements.yml ]] ; then
            ansible-galaxy install -r requirements.yml
          fi
      - name: "Init Packer"
        run: |
          cd ${{ matrix.template }} ; packer init .
      - name: "Validate Packer templates"
        run: cd ${{ matrix.template }} ; packer validate .

  release:
    needs:
      - validate
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "lts/*"
      - name: Install dependencies
        run: |
          npm install -D \
            "@semantic-release/commit-analyzer" \
            "@semantic-release/release-notes-generator" \
            "@semantic-release/changelog" \
            "@semantic-release/github" \
            "@semantic-release/git"
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release
